#faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}

.safety-content {
  padding: 10px;
  margin-top: 3rem;
}

#faq h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#faq p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#faq img {
  width: 100vw;
  height: 70vh;
}


.button-safety-cost {
  background-color: transparent;
  border: 2px solid rgb(240, 212, 5);
  padding: 10px 20px;
  border-radius: 2rem;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  #faq h1 {
    font-size: 3rem;
  }

  #faq p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  #faq h1 {
    font-size: 4rem;
  }

  #faq p {
    font-size: 1.5rem;
  }
}