.unit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffbf00;
}

.title-gl {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(48, 48, 47); 
  padding: 10px 20px; 
  border-radius: 2rem;
  cursor: pointer; 
  text-align: center; 
  align-content: center;
  margin-top: 10px;
  
}
.unit-title {
 padding: 10px;
 align-items: center;
}


.gl-specs{
  font-size: 1.3rem;
  margin-bottom: 3rem;
  text-align: center;
  line-height: 3rem;

}



/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  .safety h1 {
    font-size: 3rem;
  }

  .safety p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .safety h1 {
    font-size: 4rem;
  }

  .safety p {
    font-size: 1.5rem;
  }
}
