#support-features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.safety-content {
  padding: 10px;
}

#support-features h1 {
  font-size: 3rem;
  color: black;
  margin-bottom: 1rem;
}

#support-features p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}


.button-safety {
  background-color: transparent;
  border: 4px solid rgb(240, 212, 5);
  padding: 20px 30px;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  font-size: 1.3rem;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  #support-features h1 {
    font-size: 3rem;
  }

  #support-features p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  #support-features h1 {
    font-size: 4rem;
  }

  #support-features p {
    font-size: 1.5rem;
  }
}
