.report-container {
  margin-top: 8rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.report-title {
  font-size: 1.5rem;
  margin-bottom: 30px;
  margin-top: 40px;
  text-align: center;
 
}

.report-slide {
  position: relative;
  text-align: center;
}

.report-image {
  width: 80vw;
  height: 50vh;
  object-fit: cover;
  margin: 0 auto;
  /* border-radius: 10px; */
}

.report-button {
  background: none;
  border: 4px solid #ffd700; /* Yellow outline */
  padding: 20px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.3rem;
  color: #000;
}
