/* .testimony-container {
  padding: 20px;
  text-align: center;
  width: 100vw;
}

.testimony-title {
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 40px;
}

.testimony-slide {
  text-align: center;
}

.testimony-image {
  width: 70vw;
  height: 60vh;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}

.testimony-slide h3 {
  text-align: left;
  font-size: 1.5rem;
  margin-top: 20px;
}

.testimony-slide p {
  text-align: left;
  font-size: 1rem;
  margin-top: 10px;
}

.testimony-button {
  background: none;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
} */

.testimony-container {
  padding: 20px;
  text-align: center;
  width: 100vw;
}

.testimony-title {
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 40px;
}

.testimony-slide {
  position: relative;
  text-align: center;
}

.testimony-image {
  width: 80vw;
  height: 40vh;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}

.testimony-text {
  display: none;
  text-align: left;
  margin-top: 20px;
}

.swiper-slide.swiper-slide-active .testimony-text {
  display: block;
}

.testimony-text h3 {
  font-size: 1.5rem;
  margin-top: 20px;
}

.testimony-text p {
  font-size: 1rem;
  margin-top: 10px;
  position: relative;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.testimony-text p::before {
  content: "“";
  font-size: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
}

.testimony-text p::after {
  content: "”";
  font-size: 2.5rem;
  position: absolute;
  right: 0;
  bottom: -10px;
  color: #000;
}

.testimony-button {
  background: none;
  border: 2px solid #ffd700; /* Yellow outline */
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
}
