.footer {
  background-color: rgb(243, 176, 6);
  color: #0e0101;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:100vw;
}
.footer-content {
  background-color: #f8ab07d6; 
  padding: 1rem; 
}


.footer h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.footer h3 a {
  color: #0c0101;
  text-decoration: none;
}

.footer h3 a:hover {
  text-decoration: underline;
}
.logos-section {
  background-color: rgb(113, 65, 6);
  padding: 1rem;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 0rem;
  background-color: rgb(113, 65, 6);
  padding: 1rem;
  color: #000;
  width:100vw;

}
.logos-title{
  flex-direction: row;
  color: aliceblue;
}
.logos img {
  width: 50px;
  height: auto;
}

.logos h1 {
  font-size: 1.5rem;
  margin: 0;
}

.logos p {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  color: aliceblue;
}


